<p>
    View work
</p>
<div style="display: flex">
    <nav class="sidenav">
        <section class="sidenav-content">
            <mat-list role="list">
                <mat-list-item *ngFor="let view of views">
                    {{ view.name }}
                </mat-list-item>
            </mat-list>
        </section>
    </nav>
    

    <div class="grid">
        <clr-datagrid [clrDgLoading]="gridIsLoading">
            <clr-dg-column *ngFor="let col of loadedColumns"
                            [clrDgField]="col" 
                            [clrDgSortOrder]="descSort">
                {{ col }}
            </clr-dg-column>
        
            <clr-dg-row *ngFor="let data of loadedData; let i = index" >
                <clr-dg-cell *ngFor="let col of loadedColumns">{{ data[col] }}</clr-dg-cell>
            </clr-dg-row>
        
            <clr-dg-footer>{{loadedData?.length}} elements</clr-dg-footer>
        </clr-datagrid>

        <!-- <table mat-table [dataSource]="loadedData" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container *ngFor="let col of loadedColumns" matColumnDef="{{ col }}">
                <th mat-header-cell *matHeaderCellDef><b class="table-header">{{ col }}</b></th>
                <td mat-cell *matCellDef="let element">
                    <span class="table-element">
                        {{ element[col.toString()] }}
                    </span>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="loadedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: loadedColumns;"></tr>
        </table> -->
    </div>
</div>
